<!-- menu for customize map screen -->

<div class="dynamic-sidebar" id="bucketlistSidebar">
  <div class="menu-toggle" onclick="toggleMenu()">
    <i class="fas fa-caret-left"></i>
  </div>

  <div class="menu-content">
    <h2><u>Bucket List</u></h2>
    <div id="bucketList">
      <p>No Buckets :(</p>
    </div>
    <button type="button" name="button" id="bucketlistButton"class='btn' disabled>Check Off Bucket List</button>
  </div>
</div>
