
<!-- Sidebar -->
<div class="sidebar_explore dynamic-sidebar" id="sidebar_explore">
  <div class="menu-toggle" onclick="toggleMenu()">
    <i class="fas fa-caret-left"></i>
  </div>
  <div class="menu-content">
    <table style="margin:auto" id = "searchBar">
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td>
                <h2 style="color:black">Explore</h2>
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td>
                <input type="text" id="explore_textbox" name="explorebox" placeholder="Search"><br><br>
                <button class="btn" name="submit" id="searchButton">Search</button>
            </td>
            <td>
            </td>
        </tr>
    </table>
    <table id="exploreImages">

    </table>
  </div>

</div>
