<!--for setting up head and importing scripts like fontawesome and boostrap, as well as custom scripts in public/stylesheets-->

<title>MapShot</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../stylesheets/style.css">
<link rel="stylesheet" href="../stylesheets/sidebar.css">
<link rel="stylesheet" href="../stylesheets/addPin.css">
<link rel="stylesheet" href="../stylesheets/menu.css">
<link rel="stylesheet" href="../stylesheets/map.css">
