

<!-- Sidebar -->
<!-- Sidebar -->
<div class="sidebar_profile dynamic-sidebar" id="sidebar_profile">
  <div class="menu-toggle" onclick="toggleMenu()">
    <i class="fas fa-caret-left"></i>
  </div>
  <div class="menu-content">
    <table style="margin:auto">
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="text-align: center;">
                <div alt="profile picture" id="profilePicture">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td id = "username" style="color:blue; font-size: medium; text-align: center;">
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td id="user"style="color:black; font-size: large; text-align: center;">

            </td>
        </tr>
        <tr class="user-stats">
            <td id="posts">
              <a href="#">18<br>Posts</a>
            </td>
            <td id="followers" >
              <a href="#">246<br>Followers</a>
            </td>
            <td id="following" >
              <a href="#">246<br>Following</a>
            </td>
        </tr>
        <tr class="blank_row"><td colspan="3"></td></tr>
        <tr>
            <td style="color:black; font-size: small; text-align: center;">
                <textarea rows="4" cols="30" readonly id="profile_TextBox">

                </textarea>
            </td>
        </tr>
    </table>
    <table id = 'tags' style="margin:auto">

    </table>
  </div>

</div>
